*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
.vscode
causal-metaphysics/
critical-realism-quantum/
impure-relationalism-classical-cosmology/
loop-classical-mechanics/
relative-classical-cosmology/